/* Import */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* Bruno Ace SC */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
    /* Color */
    --fc-white: #ffffff;
    --fc-black: #000000;
    --fc-red: #d93025;
    --fc-light-gray: #edeeef;
    --fc-light-gray-hover: #e4e6e9;
    --fc-blue: #2196F3;
    --fc-blue-hover: #2a8ee0;

    --fc-cloud: #9658fe;
    --fc-cloud-text: #5b5b7b;
    --fc-border-file: #cacaca;


    /* Background Color */

    /* Border */

    /* Font */
    --ff-owald: 'Oswald', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-bruno: 'Bruno Ace SC', cursive;

    /* Transition */
    --transition-02: all 0.2s ease;
    --transition-03: all 0.3s ease;
    --transition-04: all 0.4s ease;
    --transition-05: all 0.5s ease;

}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture {
    max-width: 100%;
    object-fit: cover;
}

ul[role-style="none"], 
ol[role-style="none"] {
    list-style: none !important;
}

input:read-only {
    cursor: context-menu;
}

input:focus,
textarea:focus,
button:focus {
    outline: 0;
}

textarea {
    resize: none !important;
}

.link,
.link:hover {
    text-decoration: none;
}

body {
    min-height: 100vh;
}

/* Loader */
.loader {
    position: fixed;
    z-index: 9999;
    background: var(--fc-white);
    width: 100%;
    height: 100%;
}

.loader .shape {
    position: absolute;
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader .shape::before,
.loader .shape::after {
    content: "";
    position: absolute;
    border: 1em solid var(--fc-red);
    border-radius: 50%;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader .shape::before {
    animation-delay: 0.5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* Header */
.header {
    position: relative;
}

.header nav {
    max-width: 1200px !important;
    margin: 0 auto;
}

.header .logo-title {
    font-family: var(--ff-bruno) !important;
    font-weight: 500;
    font-size: 1.15rem;
}

.header .navbar-nav .nav-item {
    margin: 0 0.25rem;
}

.header .navbar-nav .nav-item .nav-link {
    font-family: var(--ff-poppins) !important;
    font-size: 0.975rem;
}

.header .navbar-nav .nav-item .nav-link.nav-button {
    background: var(--fc-blue);
    color: var(--fc-white);
    border-radius: 6px;
}

.header .navbar-nav .nav-item .nav-link.nav-button:hover {
    background: var(--fc-blue-hover);
}

.header .navbar-nav .dropdown-menu {
    right: 0 !important;
}

/* Login / Register */
.section-login,
.section-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.section-login .container,
.section-register .container {
    position: relative;
    max-width: 370px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: var(--fc-white);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.section-login .container .title,
.section-register .container .title {
    display: flex;
    align-items: center;
    font-family: var(--ff-bruno) !important;
    font-size: 1.15rem;
}

.section-login .container .title span,
.section-register .container .title span {
    margin-left: 0.5rem;
}

.section-login .container .form, 
.section-register .container .form {
    margin-top: 1.5rem;
}

.section-login .container .form .field, 
.section-register .container .form .field {
    margin-bottom: 1.75rem;
}

.section-login .container .form .input-field,
.section-register .container .form .input-field {
    position: relative;
    width: 100%;
    height: 50px;
}

.section-login .container .form .input-field i,
.section-register .container .form .input-field i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.05rem;
    color: var(--fc-black);
}

.section-login .container .form .input-field .input,
.section-register .container .form .input-field .input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0 40px 0 15px;
    border: 1px solid var(--fc-light-gray);
}

.section-login .container .form .field-flex,
.section-register .container .form .field-flex {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.section-login .container .form .field-flex .forgot-password a,
.section-register .container .form .field-flex .forgot-password a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--fc-blue);
}

.section-login .container .form .field-flex .text {
    font-size: 1rem !important;
}

.section-login .container .form .field-flex .forgot-password a:hover,
.section-register .container .form .field-flex .forgot-password a:hover {
    color: var(--fc-blue-hover);
}

.section-login .container .form .field-flex label,
.section-register .container .form .field-flex label {
    margin-bottom: 0 !important;
}

.section-login .container .form .button,
.section-register .container .form .button {
    margin: 0 0 6px;
}

.section-login .container .form .button input,
.section-register .container .form .button input {
    border: 0 !important;
    color: var(--fc-light-gray);
    font-size: 1.10rem;
    font-weight: 400;
    background-color: var(--fc-blue);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.section-login .container .form .button button,
.section-register .container .form .button button {
    border: 0 !important;
    color: var(--fc-light-gray);
    font-size: 1.10rem;
    font-weight: 400;
    background-color: var(--fc-blue);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    
    /* */
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.section-login .container .form .button input:hover,
.section-register .container .form .button input:hover {
    background-color: var(--fc-blue-hover);
}

.section-login .container .form .button button:hover,
.section-register .container .form .button button:hover {
    background-color: var(--fc-blue-hover);
}

.section-login .create-account a,
.section-register .have-account a {
    color: var(--fc-blue);
    text-decoration: none;
}

.section-login .create-account a:hover,
.section-register .have-account a:hover {
    color: var(--fc-blue-hover);
}

.section-login .container .form label.error,
.section-register .container .form label.error {
    color: var(--fc-red);
    padding: 2px 0;
    font-size: 0.85rem;
}

.section-login .container .form .req-data {
    color: var(--fc-red);
    padding: 2px 0;
    font-size: 0.85rem;
}

/* .section-login .container .form .error {
    color: var(--fc-red);
} */

/* Profile */
.section-profile .container {
    max-width: 1200px;
}

/* .section-profile  .card-profile {
   
} */

.section-profile .form .input {
    display: block;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0.375rem 0.75rem;
    border: 1px solid var(--fc-light-gray);
}

.section-profile .form .input-datepicker {
    cursor: pointer;
}

.section-profile .form .select-menu {
    width: 100%;
    height: 50px;
}

.section-profile .form .select-menu .select-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background: var(--fc-white);
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
    border: 1px solid var(--fc-light-gray);
    color: #6c757d;
    cursor: pointer;
}

.section-profile .form .select-menu .select-option {
    position: relative;
    margin-top: 0;
    background: var(--fc-white);
    /* padding: 0.375rem 0.75rem; */
    border-radius: 6px;
    border: 1px solid var(--fc-light-gray);
    display: none;
}

.section-profile .form .select-menu.active .select-option {
    display: block;
}

.section-profile .form .select-menu .select-option li {
    padding: 0.375rem 0.75rem;
    /* border-radius: 6px; */
    background: var(--fc-white);
    margin: 0.5rem 0;
    cursor: pointer;
    font-size: 1rem;
}

.section-profile .form .select-menu .select-button.hasActive {
    color: var(--fc-black) !important;
}

.section-profile .form .select-menu.active .select-button {
    color: #6c757d;
}

.section-profile .form .select-menu .select-option li:hover {
    background: var(--fc-light-gray);
}

.section-profile .form label.error {
    color: var(--fc-red);
    padding: 2px 0;
    font-size: 0.85rem;
}

.section-profile .form .col-md-6 {
    position: relative;
    width: 100%;
    height: 65px;
}

/* Dashboard */
.main-sidebar .logo-img {
    opacity: 0.8;
}

.main-sidebar .logo-text {
    font-family: var(--ff-bruno) !important;
    font-weight: 500;
    font-size: 1.15rem;
}

.main-sidebar .nav-sidebar .nav-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85rem;
}

/* Media */

@media (min-width: 1200px) {
    .section-profile .container {
        max-width: 1200px !important;
    }
}

@media (max-width: 767.98px) {
    .small-box p {
        font-size: 1rem;
    }
}